@import "Reg&Login.css";

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#profile_title {
    display: flex;
    flex-direction: row;
}

#profile_title_h {
    font-size: xx-large;
    width: max-content;
    text-align: center;
    margin-bottom: 0cm;
    margin-top: 30px;
}

#profile_title_h2 {
    margin: auto;
    /* font-size: small; */
    width: max-content;
    text-align: right;
}
#profile_title_b {
    /* font-size: small; */
    margin: auto;
    border-radius: 25px;
    height: 30px;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 5px;
}

#profile_tabs {
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 2px solid #cccccc;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.tab {
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
    padding-left: 40px;
}

#pro_tab {
    background-color: #cccccc;
    color: black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

#rec_tab {
    background-color: #ebebeb;
    color: gray;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

#cat_tab {
    background-color: #ebebeb;
    color: gray;
    border-radius: 0px;
}
#profile_info{
    margin: auto;
    margin-top: 0px;
}
#pass_input_label {
    width: 13.5%;
}

#pass_box {
    width: 100%;
}

#pass_input {
    width: 100%;
}

#submit_input {
    margin: auto;
    margin-top: 40px;
}

.receipt_item {
    color: #4d4d4d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    background-color: white;
    width: 100%;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
}

#receipt_title {
    font-family: BYekan, 'BYekan', tahoma;
    color: #cccccc;
    justify-content: space-between;
}

#search_input {
    width: 70%;
    justify-content: center;
}

#search_input_label {
    width: 30%;
}

#rec_tab {
    background-color: #ebebeb;
    color: gray;
}

#pro_tab {
    background-color: #cccccc;
    color: black;
}

#cat_tab {
    background-color: #ebebeb;
    color: gray;
}

#new-product {
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 30px;
}

.product-list {
    width: 70%;
    grid-gap: 60px;
    margin-bottom: 30px;
    overflow: auto;
    max-height: 800px;
}

.product-info-wrapper .sold-num {
    position: relative;
    top: -235px;
    left: -220px;
    justify-content: center;
    padding-top: 6px;
    text-align: center;
    height: 40px;
    width: 40px;
    color: #009cff;
    font-size: large;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 5px 5px 20px 0  silver;
}

.bottom-product-wrapper {
    padding-left: 5px;
}

.receipt_item button:hover {
    color: #00cccc;
}

.receipt_item .item_1 {
    width: 23%;
}
.receipt_item .item_1.category {
    width: 60%;
}
.receipt_item .item_1 {
    width: 20%;
}
.receipt_item .item_2 {
    width: 20%;
    
}
.receipt_item .item_3 {
    width: 20%;
}
.receipt_item .item_4 {
    width: 30%;
}
.receipt_item .item_5 {
    width: 10%;
}

#category_section{
    display: none;
    margin: auto;
    margin-top: 8px;
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    background-color: white;
    overflow: auto;
    max-height: 500px;
}
#receipt_section {
    display: none;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    justify-content: center;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 30px;
    width: 80%;
    overflow: auto;
    max-height: 500px;
}

#p_info_inputs, #c_info_inputs {
    display: flex;
    flex-direction: column;
}

.p_info, .c_info{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10%;
}

.input_label{
    width: 30%;
}

#submit_receipt {
    width: 25%;
    justify-content: center;
    margin: auto;
}

#receipt_search {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 0px;
}

/* modal page CSS content */
 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    border-radius: 24px;
    border: 3px solid black;
    padding-bottom: 30px;
    width: 80%; /* Could be more or less, depending on screen size */
    animation-name: animatetop;
    animation-duration: 0.9s
  }
  
  #modal-message {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* The Close Button */
  .modalClose {
    position: relative;
    right: -45%;
    top: -1%;
    font-size: 28px;
    font-weight: bold;
  }
  
  .modalClose:hover,
  .modalClose:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  } 
  /* Add Animation */
@keyframes animatetop {
    from {width: 1%; opacity: 0.3}
    to {width: 80%; opacity: 1}
  }