@import "receipts.css";

#rec_tab {
    background-color: #ebebeb;
    color: gray;
}

#pro_tab {
    background-color: #ebebeb;
    color: gray;
}

#cat_tab {
    background-color: #cccccc;
    color: black;
}

.receipt_item button:hover {
    color: #00cccc;
}

.receipt_item {
    width: 700px;
}

.receipt_item .item_1 {
    width: 50%;
}
.receipt_item .item_2 {
    width: 25%;
}
.receipt_item .item_3 {
    width: 25%;
}

#receipt_title .item_2 {
    width: 28%;
}