@import "GeneralLayout.css";
/***
This file defines the general style of the site
***/

/***
Basic style characteristics for hero header background
flex display, full width
***/

body {
    height: max-content;
}

.hero-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f9593a;
    align-items: center;
    padding-top: 40px;
}

/***
Styling the main hero header title
***/

#hero-text {
    color: white;
    font-size: 200%;
}

/***
Styling the product search form
***/

.hero-form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-items: center;
    width: 100%;
    align-items: center;
}

/***
Styling the product search input box
***/

#product-input {
    background-color: white;
    width: 60%;
    text-align: center;
    border-radius: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/***
Styling the product search submit button
***/

#product-submit {
    margin-top: 35px;
    background-color: #ffcc00;
    color: black;
    border-radius: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

/***
Styling the product search submit button on hover
***/

#product-submit:hover {
    box-shadow: 0 0px 16px 0 rgba( 255, 255, 125, 0.40);
}

/***
Styling the sort box general layout
***/

.sort-box {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/***
Giving the sort box text a slight margin from right
***/

#sort-by-text {
    margin-right: 30px;
}

/***
Styling sort box buttons when deactivated
***/

.sort-button {
    background-color: white;
    color: black;
    border-radius: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/***
Styling deactivated sort box buttons when hovered on
***/

.sort-button:hover {
    color: #b6b6b7;
}

/***
Styling sort box buttons when activated
***/

.sort-button-active {
    background-color: #009cff;
    color: white;
    border-radius: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 5px 10px 0 #b0cee0;
}

/***
Styling activated sort box buttons when hovered on
***/

.sort-button-active:hover {
    color: #e8e9ed;
}

/***
setting product section background
***/

.product-view-wrapper {
    background-color: #d3d3d3;
    height: 100%;
}

/***
Styling product details section's main characteristics
***/

.product-view {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 15px;
    padding: 15px;
}

/***
Styling the filter box's main characteristics
***/

.filter-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    box-shadow: 0 2px 5px 0 #4b4b4b;
    height: min-content;
}

/***
Adding border to the bottom of filter box's header section
***/

.filter-header {
    width: 100%;
    border-bottom: solid 1px;
    border-color: #e6e6e6;
    padding: 15px;
}

/***
Max width for filter box header and content
***/

.filter-box-sections {
    width: 100%;
}

/***
Setting scrollbar to filter contents if max height is exceeded
***/

.filter-content {
    padding: 15px;
    max-height: 200px;
    overflow: auto;
}

/***
Setting a small margin between all checkbox and label wrappers
***/

.checkbox-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

/***
Styling product list with grid layout
***/

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

/***
Styling product box
***/

.product-box {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 340px;
}

/***
setting fix size for product images
***/

.product-img {
    margin: 15px;
    width: 100px;
    height: 130px;
    text-align: center;
}

/***
Changing product category font style
***/

.product-category {
    font-size: 70%;
    color: gray;
}

.product-info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.bottom-product-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    margin-top: 40px;
    border-top:  solid 1px;
    border-color: #e6e6e6;
}

.buy-product-button {
    background-color: #009cff;
    color: white;
    border-radius: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 5px 10px 0 #b0cee0;
}