@import "GeneralLayout.css";
/***
This file defines the general style of the site
***/

/***
Basic style characteristics for hero header background
flex display, full width
***/

body {
    height: max-content;
}

/***
Styling the div holding the slider
***/

#slider {
    height: 505px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/***
Styling the slider images container
***/

.slider-container {
    transform: translate(0);
    transition: transform .3s ease;
    display: flex;
    position: relative;
    width: 100%;
    max-height: 505px;
}

/***
Making the slider images fill the slider
***/

.slider-img {
    object-fit: fill;
}

/***
Styling slider contoller
***/

.slider-controls {
    color: #fff;
    font-size: 3rem;
}

/***
Styling slider control buttons
***/

.slider-control-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    cursor: pointer;
    opacity: .5;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    transition: all .3s ease;
    z-index: 1000;
}

/***
Change the opacity of slider control buttons on hover
***/

.slider-control-button:hover {
    opacity: 1;
}

/***
Slider previous button image and position
***/

#previous {
    background-image: url('../images/l-b.png');
    left: 50px;
}

/***
Slider next button image and position
***/

#next {
    background-image: url('../images/r-b.png');
    right: 50px;
}

/***
Styling the div containing the content of hero header except the slider
***/

#hero-content {
    top: 65px;
    padding-top: 40px;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}

/***
Styling the div containing all components of the hero header
***/

.hero-header {
    width: 100%;
    background-color: #f9593a;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}

/***
Styling the main hero header title
***/

#hero-text {
    color: white;
    font-size: 200%;
}

/***
Styling the product search form
***/

.hero-form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-items: center;
    width: 100%;
    align-items: center;
}

/***
Styling the product search input box
***/

#product-input {
    background-color: white;
    width: 60%;
    text-align: center;
    border-radius: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#product-submit:hover {
    color: black;
    box-shadow: 0 0px 16px 0 rgba( 255, 255, 125, 0.40);
}

/***
Styling pagination number per page and sort wrapper
***/
.product-sort-num-wrapper {
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/***
Styling the sort box general layout
***/

.sort-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/***
Giving the sort box text a slight margin from right
***/

#sort-by-text {
    margin-right: 30px;
}

/***
Styling pagination page-limit selection box
***/
.select-item-num-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/***
Giving the item num box text a slight margin from left
***/
#item-num-text {
    margin-left: 30px;
}

/***
Styling item num selection
***/
.item-num-select {
    margin-left: 20px;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-right: 10px;
    height: 70%;
    border-radius: 20px;
    width: 80px;
}


/***
setting product section background
***/

.product-view-wrapper {
    background-color: #d3d3d3;
    height: 100%;
}

/***
Styling product details section's main characteristics
***/

.product-view {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 15px;
    padding: 15px;
}

/***
Styling the filter box's main characteristics
***/

.filter-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    box-shadow: 0 2px 5px 0 #4b4b4b;
    height: min-content;
}

/***
Adding border to the bottom of filter box's header section
***/

.filter-header {
    width: 100%;
    border-bottom: solid 1px;
    border-color: #e6e6e6;
    padding: 15px;
}

/***
Max width for filter box header and content
***/

.filter-box-sections {
    width: 100%;
}

/***
Setting scrollbar to filter contents if max height is exceeded
***/

.filter-content {
    padding: 15px;
    max-height: 200px;
    overflow: auto;
}

/***
Setting a small margin between all checkbox and label wrappers
***/

.checkbox-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

/***
Styling pagination wrapper to center element
***/

.pagination-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/***
Styling paginatio div
***/

.pagination {
    display: inline-block;
}

/***
General style pagination buttons
***/

.pagination-button {
    color: gray;
    float: right;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

/***
Styling pagination buttons when actively clicked
***/

.pagination-button:active {
    color: black;
}

/***
Styling pagination buttons when hovered on but not clicked on
***/

.pagination-button:hover:not(.active) {
    background-color: #ddd;
}

/***
Styling pagination prev and next buttons
***/

.pagination-navigator {
    color: gray;
    float: right;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

/***
Styling pagination navigation buttons when actively clicked
***/

.pagination-navigator:active {
    color: black;
}

/***
Styling pagination buttons when hovered on but not clicked on
***/

.pagination-navigator:hover:not(.active) {
    background-color: #ddd;
}