@import "GeneralLayout.css";

.yellow_button {
    
    margin-top: 30px;
    background-color: #ffcc00;
    color: black;
    border-radius: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
}

#form_input {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#login_title {
    font-size: large;
    margin-bottom: 20px;
    color: #00cccc;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.input_ {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 400px;
}

.input_label {
    text-align: center;
    color: white;
    background-color: #00cccc;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 25%;
}

.input_box {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    width: 300px;
}

#signup_link {
    font-size: medium;
    margin-top: 20px;
}

#section1 {
    display: flex;
    flex-direction: row;
    width: 820px;
    justify-content: space-between;
}

#section2 {
    display: flex;
    flex-direction: row;
    width: 820px;
    justify-content: space-between;
}

#address_input_label {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 13.5%;
}

#address_box {
    width: 100%;
}

#address_input {
    width: 100%;
}