@import "Reg&Login.css";

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#profile_title {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

#profile_title_h {
    font-size: xx-large;
    width: max-content;
    text-align: center;
    margin-bottom: 0cm;
}

#profile_title_h2 {
    margin: auto;
    /* font-size: small; */
    width: max-content;
    text-align: right;
}
#profile_title_b {
    /* font-size: small; */
    margin: auto;
    border-radius: 25px;
    height: 30px;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 5px;
}

#profile_tabs {
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 2px solid #cccccc;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.tab {
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
    padding-left: 40px;
}

#pro_tab {
    background-color: #cccccc;
    color: black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

#rec_tab {
    background-color: #ebebeb;
    color: gray;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

#cat_tab {
    background-color: #ebebeb;
    color: gray;
    border-radius: 0px;
}
#profile_info{
    margin: auto;
    margin-top: 0px;
}
#pass_input_label {
    width: 13.5%;
}

#pass_box {
    width: 100%;
}

#pass_input {
    width: 100%;
}

#submit_input {
    margin: auto;
    margin-top: 40px;
}

#receipt_section {
    display: none;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    margin: auto;
    margin-top: 10px;
}

.receipt_item {
    color: #4d4d4d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    background-color: white;
    width: 1150px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
}

#receipt_title {
    font-family: BYekan, 'BYekan', tahoma;
    color: #cccccc;
}

.receipt_item .item_1 {
    font-family: Geneva, Tahoma, sans-serif;
    width: 20%;
}
.receipt_item .item_2 {
    width: 25%;
}
.receipt_item .item_3 {
    width: 20%;
}
.receipt_item .item_4 {
    width: 35%;
}

#search_input_ {
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
}

#search_input_label {
    width: 15%;
}
