/***
This file is used to style the main navigation bar on top of each page
***/

/*
General menu style
*/

.navigation-bar {
    padding: 0px;
    margin: 0px;
    text-align: center;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*
Text logo style
*/

#menu-logo {
    font-size: 120%;
    margin-left: 25px;
    margin-right: 25px;
    color: #00cccc;
}

/*
Styling div containing menu items within the navigation bar
*/

.menu-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*
Styling div containing menu buttons within the navigation bar
*/

#menu-button-div {
    justify-content: flex-end;
    position: relative;
    margin-left: 25px;
}

/*
Styling wrapper div for dropdown menu to be hidden unless hovered on the button
Uncomment to show dropdown
*/

.hidden-div {
    width: 100%;
    top: 50%;
    position: absolute;
}

/*
Styling dropdown menu main div
*/

.dropdown-content {
    background-color: #cccccc;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
    flex-direction: column;
    width: 100%;
    top: 50%;
    padding-top: 25px;
    padding-bottom: 10px;
    position:absolute !important;
    z-index:1 !important;
}

.show {
    display: flex;
}

#menu-profile-btn {
    z-index:1 !important;
}

/*
Styling each submenu button
*/

.nav-submenu-item {
    text-decoration: none;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.nav-submenu-item:hover {
    background-color: #e6e6e6;
    text-decoration: none;
}

.menu-item{
    cursor: pointer;
}